<h1>Welcome to Rock, Paper, Scissors!</h1>
<br>
<h3>Rules:</h3>
<h4>Choose either Rock, Paper, or Scissors <br>
<p> Rock beats Scissors </p>
<p> Paper beats Rock </p>
<p> & Scissors beats Paper </p>
</h4>
<br>
<h2>Player 1, what do you choose: Rock, Paper Or Scissors?</h2>
<h3>
<ul>
  <li><a href="/rock">Rock</a></li><p>
  <li><a href="/paper">Paper</a></li><p>
  <li><a href="/scissors">Scissors</a></li>
</ul>
</h3>
