<h2>Player 2, what do you choose: Rock, Paper Or Scissors?</h2>

<h3>
<ul>
  <li><a href="/paper/rock">Rock</a></li><p>
  <li><a href="/paper/paper">Paper</a></li><p>
  <li><a href="/paper/scissors">Scissors</a></li>
</ul>
</h3>
